*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body{
    background: linear-gradient(135deg, #2EB5E5, #FFFFFF);
}*/

a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style-type: none;
}

.body-container{
    background: linear-gradient(135deg, #2EB5E5, #FFFFFF);
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo h3{
    background: linear-gradient(135deg, #F36C21, #00AEEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
}

.welcome-container{
    display: flex;
    justify-content: center;
    height: auto;
    width: 60%;
    margin-top: 30px;
}

.welcome-box{
    text-align: center;
}

.welcome-box p{
    font-size: 50px;
    margin-top: 100px;
}

.welcome-box h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 50px;
}

.welcome-box a{
    border: 5px solid linear-gradient(135deg, #000000, #2EB5E5);
    background: linear-gradient(135deg, #000000, #2EB5E5);
    padding: 20px 10%;
}

.welcome-box a:hover{
    border: 5px solid linear-gradient(135deg, #ED1C24, #F26C2B, #2EB5E5);
    background: linear-gradient(135deg, #ED1C24, #F26C2B, #2EB5E5);
    color: #000;
}

footer{
    margin-top: 15em;
    margin-left: 70px;
    margin-right: 70px;
}

footer a{
    color: #000;
}

.footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

footer img{
    height: 30px;
    width: 30px;
}

.social-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer-text{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px;
}

.footer-text a{
    color: #00AEEF;
}

.footer-text p{
    margin-bottom: 10px;
}

.down{
    height: 30px;
    background: #f2f2f2;
}

@media  (max-width:600px) {
    .footer-links{
        flex-direction: column;
        gap: 20px;
    }

    .down{
        display: none;
    }
}